<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @service.description %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @service.customer.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @service.price %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @service.pet.name %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @service.obs %>
</p>

<p>
  <strong>Product:</strong>
  <%= @service.product.description %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
