<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table table-striped">
    <%= f.label :nome %><br>
    <%= f.text_field :name %>
  </div>
  <div class="table table-striped">
    <%= f.label :species %><br>
    <%= f.text_field :species %>
  </div>
  <div class="table table-striped">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="table table-striped">
    <%= f.label :obs %><br>
    <%= f.text_field :obs %>
  </div>
  <div class="table table-striped">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, Customer.all, :id, :name, include_blank: true) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
