<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Raça:</strong>
  <%= @pet.breed %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @pet.obs %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @pet.customer.name %>
</p>



<%= link_to 'Editar', edit_pet_path(@pet) %> |
<%= link_to 'Voltar', pets_path %>
